<ng-container>
    <div fxLayout="row">
        <div fxFlex="60%" fxFlexOffset="20%">
            <h1 style="font-weight: bold; font-size: 50px;">Connexion</h1>
            <p>Veuillez s'il vous plaît renseigner les champs de connexion</p>
            <div style="margin-top: 60px;">
                <div fxLayout="row" fxLayoutGap="20px" style="margin-top: 20px;">
                    <div fxFlex class="form-group">
                        <input type="email" placeholder="Email ou Pseudo" class="form-input">
                    </div>
                    <div fxFlex class="form-group">
                        <input type="password" placeholder="Mot de passe" class="form-input">
                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex="20%">
                        <input type="checkbox" name="remember_me" id="remember_me">
                        Se souvenir de moi
                    </div>
                    <div fxFlexOffset="60%" fxFlex="20%" style="cursor: pointer;">
                        Mot de passe oublié ?
                    </div>
                </div>

                <div fxLayout="row" style="margin-top: 100px">
                    <div  fxFlexOffset="45%" fxFlex="10%">
                        <div style="width: 50px; height: 50px; border-radius: 100%; border: 5px solid #fff">
                            <i class="fas fa-long-arrow-alt-right" style="margin-top: 10px;"></i>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

